dj_database_url==2.1.0
Django==4.2.3
django-storages==1.14.2
Markdown==3.4.1
Pillow==10.3.0
boto3==1.33.8
botocore==1.33.8
s3transfer==0.8.2
dj-database-url==2.1.0
Django==4.2.3
whitenoise==6.5.0
psycopg2-binary==2.9.8
gunicorn==21.2.0