<<<<<<< HEAD
.flex-container {
    display: flex;
    flex-wrap: wrap;

}
label{
     width:200px;
=======
.flex-container {
    display: flex;
    flex-wrap: wrap;

}
label{
     width:200px;
>>>>>>> a8ca429b4755ad8adcd3a06b09a2b58b849f85e8
}