{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<div class="container mt-5 d-flex justify-content-center align-items-center">
    <ul class="list-group">
        <li class="list-group-item mt-3">
            <h2>Cambiar Foto de Perfil</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="id_foto_perfil" class="custom-file-input">
                    Seleccione una nueva foto
                    <input type="file" name="foto_perfil" id="id_foto_perfil">
                </label>
                <button type="submit" class="btn btn-primary save-btn">Guardar Cambios</button>
            </form>
        </li>
        <li class="list-group-item mt-3">
            <h2>Cambiar Contraseña</h2>
            <form method="post" action="{% url 'configuraciones' %}">
                {% csrf_token %}
                {{ cambiar_contraseña_form.as_p }}
                <button type="submit" class="btn btn-primary save-btn">Guardar Contraseña</button>
            </form>
        </li>

    </ul>


</div>


{% endblock %}

</body>
</html>