<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Ecos de las paginas del desvelo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">

    <link rel="stylesheet" href="{% static 'css/trepar_documento.css' %}">
    <link rel="stylesheet" href="{% static 'css/loading.css' %}">
    {% if request.COOKIES.modo_fondo == 'modo_oscuro' %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/fondo_oscuro.css' %}">
    {% else %}
        <link rel="stylesheet" href="{% static 'css/color.css' %}">
    {% endif %}









</head>

<body>
     <!-- para que se vea bien en dispositivos móviles -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <header >



        <nav class="navbar navbar-expand-lg ">
          <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'inicio' %}">Ecos de las Páginas del Desvelo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span >
                 <i id="menuIcono" class="fa-solid {% if request.COOKIES.modo_fondo == 'modo_oscuro' %}fa-bars{% else %}fa-bars {% endif %}" style="color: {% if request.COOKIES.modo_fondo == 'modo_oscuro' %}#ffffff{% else %}#000000{% endif %};"></i>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'iniciar_sesion' %}">Inisiar secion</a>
                </li><li class="nav-item">
                  <a class="nav-link" href="{% url 'trepar_post' %}">Trepar Documento</a>
                </li><li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">Panel de control</a>
                </li>

                 {% if user.is_authenticated %}
                 <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ usr }}
                            </a>

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'perfil' username=user.username %}">Mi perfil</a>
                                <a class="dropdown-item" href="{% url 'configuraciones'  %}">Configuraciones</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'cerrar_sesion' %}">Cerrar sesión</a>
                            </div>
                        </li>
                  {% endif %}

                  <li class="nav-item">
                      <form method="post" action="{% url 'cambiar_fondo' %}">
                        {% csrf_token %}
                        <button type="submit" class="modooscuro">
                            <i class="fas {% if request.COOKIES.modo_fondo == 'modo_oscuro' %}fa-moon{% else %}fa-sun{% endif %}"></i>
                        </button>
                    </form>
                  </li>


              </ul>







             <form class="d-flex" role="search" method="GET" action="{% url 'resultado_busqueda' %}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            </div>
          </div>
        </nav>









    </header>

     {% block content %}
     {% endblock %}

     <!-- Footer -->
    <footer class="text-center bg-body-tertiary" id="page-footer">
        <div class="container">

            <p class="font-weight-bold" style="padding:10px">Sígueme en las redes sociales</p>
            <div class="container mt-2">
                <div class="d-inline mx-2">
                    <a href="https://twitter.com/Over_Ader" target="_blank" class="btn btn-info btn-lg">
                        <i class="fab fa-twitter me-2"></i> Twitter
                    </a>
                </div>
                <div class="d-inline mx-2">
                    <a href="https://www.linkedin.com/in/tu_perfil" target="_blank" class="btn btn-primary btn-lg">
                        <i class="fab fa-linkedin me-2"></i> LinkedIn
                    </a>
                </div>
                <div class="d-inline mx-2">
                    <a href="https://github.com/OverAder?tab=repositories" target="_blank" class="btn btn-secondary btn-lg">
                        <i class="fab fa-github me-2"></i> GitHub
                    </a>
                </div>
            </div>
            <p class="font-weight-bold">&copy; {{ year }} Mi Proyecto. Todos los derechos reservados a Ader Yasmir Zeas Rocha.</p>
        </div>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>