<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}




    {% include 'postear.html' %}
    {% endblock %}

</body>
</html>

<!--<a href="{% url 'blog:posts' %}"> Postes</a>-->